html {
  font-size: 10px;
}

body {
  font-family: 'Exo 2';
  color: #404040;
}

.content-800 {
  overflow: visible;
}

.header-inner {
  position: relative;
  overflow: visible;
}

.h1-top {
  padding-top: 100px;
}

.h3-top {
  margin: 65px 0;
}

.logo {
  width: 268px;
  margin-bottom: 455px;
}

.img-header {
  position: absolute;
  right: -30px;
  top: 220px;
}

h1 {
  font-weight: 900;
  font-size: 4.6em;
  line-height: 4.8rem;
  color: #9E6E86;
  text-transform: uppercase;
  margin-bottom: 25px;
}

h2 {
  font-weight: bold;
  font-size: 4em;
  line-height: 4.0rem;
  color: #F16664;
  margin-bottom: 25px;
}

h3 {
  font-weight: 300;
  font-size: 3em;
  line-height: 3.5rem;
  padding-bottom: 35px;
  margin-bottom: 35px;
  position: relative;
}

h3::before {
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background: #C9FE55;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
}

h4 {
  font-size: 3.6em;
  font-weight: bold;
  font-family: 'Univers LT Std';
  margin-bottom: 40px;
  margin-top: 40px;
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a {
  font-weight: normal;
  color: #CCFF08;
}

.list li {
  font-family: 'Univers LT Std';
  color: #9E6E86;
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 16px;
}

.list.list-bullet li:before {
  background: #9E6E86;
}

.list.list-number li:before {
  color: #9E6E86;
}

.featured {
  position: relative;
  width: 96%;
  padding: 45px 120px 45px 80px;
  border-radius: 14px;
  background: #F16664;
  margin: 55px 0;
}

.featured::before {
  position: absolute;
  left: -43px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: #A06D84 solid 2px;
}

.featured::after {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  right: -35px;
  content: url(../../ico/triangulo-1.svg);
}

.featured p {
  color: #FFFFFF;
  font-weight: bold;
}

.accordion {
  margin: 80px 0;
}

.accordion-item {
  margin-bottom: 15px;
}

.accordion-title {
  position: relative;
  background: #A06E84;
  padding: 13px 125px 13px 42px;
  border-radius: 14px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0;
}

.accordion-title:hover {
  transition: all .3s ease;
  opacity: 0.85;
}

.accordion-title::after {
  content: '';
  height: 100%;
  width: 2px;
  background: #FFFFFF;
  position: absolute;
  right: 75px;
  top:0;
  transform: skewX(-30deg);
}

.accordion-title::before {
  content: url(../../ico/mais.svg);
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1px;
}

.accordion-item.is-open .accordion-title {
  background: #F16664;
}

.accordion-item.is-open .accordion-title::before {
  content: url(../../ico/menos.svg);
}

.accordion-content {
  background: rgb(241, 102, 100, 0.25);
  padding: 32px 45px;
  margin: 0 42px;
  border-radius: 0 0 14px 14px;
}

.featured-2 {
  position: relative;
  margin: 140px 0;
}

.featured-2 p {
  padding: 52px 36px 52px 290px;
  max-width: 686px;
  margin-left: auto;
  border-radius: 14px;
  background: #9E6E86;
  color:#FFFFFF;
  font-weight: bold;
}

.featured-2 img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.image {
  position: relative;
  margin: 100px 0;
}

.image img { 
width: 100%;
}

.image::after {
  content: url(../../ico/triangulo-2.svg);
  position: absolute;
  right: -70px;
  top: 23px;
}

.cards-list {
  margin-top: 100px;
}

.cards-list .slideshow-item {
  height: 420px;
}

.cards-list .card {
  height: 366px;
  width: 260px;
  border-radius: 14px;
  overflow: visible;
  background: #F66467;
}

.cards-list .card::after {
  content: url(../../ico/triangulo-card.svg);
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}

.cards-list .card.hover::after {
  content: url(../../ico/triangulo-card-2.svg);
}

.cards-list .card.is-active::after {
  content: url(../../ico/triangulo-card-2.svg);
}

.cards-list .card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease-in;
}

.cards-list .card button {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-70%);
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cards-list .card button::before {
  content: url(../../ico/mais.svg);
  width: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.cards-list .card.is-active button::before {
  content: url(../../ico/menos.svg);
}

.cards-list .card .card-back {
  padding: 45px 25px;
  color: #FFFFFF;
  background: #F16664;
  border-radius: 14px;
  transition: all .2s ease;
  opacity: 0;
}

.cards-list .card.is-active .card-back {
  transition: all .2s ease;
  opacity: 1;
}

.cards-list .card-back p {
  font-size: 1.5em;
  text-align: center;
}

.h2-purple {
  color: #9E6E86;
  max-width: 413px;
  margin-top: 100px;
}

.tab-horizontal .tab-menu-list {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.tab-horizontal .tab-menu-item {
  display: block;
  margin: 0 6px;
}

.tab-horizontal .tab-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F16664;
  width: 178px;
  height: 51px;
  border-radius: 14px;
  text-decoration: none;
  color: #FFFFFF;
}

.tab-horizontal .tab-menu-link:hover {
    background: #9E6E86;
    color: #DDCAD4;
}

.tab-horizontal .tab-menu-item:nth-child(1) .tab-menu-link {
  background: #9E6E86;
}

.tab-horizontal .tab-menu-item.is-active .tab-menu-link {
  color: #DDCAD4;
}

.tab-horizontal .tab-menu-link p {
  font-weight: bold;
  margin: 0;
}

.tab-horizontal .tab-content-item {
  padding: 72px 85px 50px;
  background: #FCD8D8;
  border-radius: 14px;
  position: relative;
  top: -35px;
  z-index: -1;
}

.citacao {
  position: relative;
  max-width: 700px;
  padding: 45px 45px 45px 170px;
  border-radius: 14px;
  background: #F16664;
  margin: 100px auto;
}

.citacao::before {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  content: url(../../ico/citacao.svg);
}

.citacao p {
  color: #FFFFFF;
  font-weight: bold;
  margin: 0;
}

.cocoen {
  border-radius: 14px;
}

.cocoen-drag {
  width: 7px;
}

.cocoen-drag::before {
  content: url(../../ico/drag.svg);
  border: none;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  height: 64px;
  margin-left: 0;
  margin-top: 0;
}

.img-and-slideshow {
  position: relative;
}

.img-and-slideshow .slideshow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 326px;
  background: #F16664;
  border-radius: 14px;
}

.img-and-slideshow .slideshow-content {
  width: 100%;
  height: 368px;
  background: #F16664;
  margin-top: 15px;
  padding: 25px 40px;
  border-radius: 14px;
}

.img-and-slideshow .slideshow-caption {
  color: #FFFFFF;
}

.img-and-slideshow .slideshow-caption h4 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Exo 2';
}

.img-and-slideshow .slideshow-caption p {
  font-size: 1.5em;
}

.img-and-slideshow .slideshow .slick-dots button {
  display: none;
}

.img-and-slideshow .slideshow-nav-pagination {
  display: none;
}

.img-and-slideshow .slideshow-nav {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
}

.img-and-slideshow .slideshow-prev {
  position: relative;
  width: 54px;
  height: 64px;
  font-size: 1px;
  color: transparent;
}

.img-and-slideshow .slideshow-prev::before {
  content: url(../../ico/slider-left.svg);
  position: absolute;
  top: 0;
  left: 3px;
}

.img-and-slideshow .slideshow-prev.hover::before {
  content: url(../../ico/slider-left-2.svg);
}

.img-and-slideshow .slideshow-next {
  position: relative;
  width: 54px;
  height: 64px;
  font-size: 1px;
  color: transparent;
}

.img-and-slideshow .slideshow-next::before {
  content: url(../../ico/slider-right.svg);
  position: absolute;
  top: 0;
  left: -3px;
}

.img-and-slideshow .slideshow-next.hover::before {
  content: url(../../ico/slider-right-2.svg);
}

.logo-bottom {
  display: block;
  margin: 0 auto;
  padding-bottom: 100px;
}
