@media only screen and (max-width: 1024px) {
  .cards-list .card {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {

  html, body {
    font-size: 8px;
    padding: 10px;
  }

  p {
    font-size: 14px !important;
    line-height: 22px !important;
  }

  li {
    font-size: 14px !important;
  }
  
  .img-header {
    display: none;
  }

  .h1-top {
    padding-top: 0;
  }

  .h3-top {
    margin: 30px 0;
  }

  .logo {
    display: block;
    margin: 0 auto 50px;
  }

  .featured {
    width: 100%;
    padding: 30px;
  }

  .featured::before, .featured::after {
    display: none;
  }
  
  .accordion {
    margin: 30px 0;
  }

  .accordion-content {
    padding: 20px;
    margin: 0 10px;
  }

  .featured-2 {
    margin: 30px 0;
  }

  .featured-2 img {
    display: none;
  }

  .featured-2 p {
    padding: 30px;
  }

  .image {
    margin: 30px 0;
  }

  .image::after {
    display: none;
  }

  .cards-list {
    margin: 30px 0;
  }

  .h2-purple {
    margin-top: 30px;
  }

  .tab-horizontal .tab-menu-link {
    width: auto;
    padding: 5px;
  }

  .tab-horizontal .tab-menu-link p {
    text-align: center;
  }

  .tab-horizontal .tab-content-item {
    padding: 40px 30px 20px;
  }

  .citacao {
    padding: 30px;
    margin: 30px 0;
  }

  .citacao::before {
    display: none;
  }

  .cocoen-drag::before {
    left: -22px;
    transform: translateY(-50%) scale(.4);
  }

  .img-and-slideshow {
    display: flex;
    flex-direction: column;
  }

  .img-and-slideshow img{
    margin: 0 auto;
    width: 100%;
    max-width: 535px;
    z-index: 1;
  }

  .img-and-slideshow .slideshow {
    position: relative;
    top: -30px;
    transform: none;
    width: 100%;
  }

  .img-and-slideshow .slideshow-content {
    padding: 60px 30px 30px 30px;
    height: auto;
    margin-top: 0px;
  }

  .img-and-slideshow .slideshow-caption {
  height: auto !important;
  }
}

@media only screen and (max-width: 420px) {

  .tab-horizontal .tab-menu-link p {
    font-size: 12px !important;
  } 

  .tab-horizontal .tab-menu-item {
    margin: 0 2px;
  }
}